/* 波の音アプリ Ver.1.2 */


/* 基本設定 */

* {

box-sizing:border-box;

margin:0;

padding:0;

-webkit-user-select:none;

user-select:none;

}



html,
body {


width:100%;

height:100%;


overflow:hidden;


background:#5b4636;


touch-action:none;


}




body {


font-family:

"Yu Mincho",
"Hiragino Mincho ProN",
serif;


}





/* iPhone Safari対策 */

#app {


width:100vw;

height:100dvh;


overflow:hidden;


}








/* 起動画面 */

#startScreen {


position:fixed;


inset:0;


display:flex;


justify-content:center;


align-items:center;



background:


linear-gradient(

rgba(60,40,25,0.35),

rgba(60,40,25,0.35)

),


url("wood-bg.png");


background-size:cover;


z-index:10;


}








.titleBox {


text-align:center;


color:#f6e5bd;


text-shadow:

2px 3px 5px #2b1608;


}





.titleBox h1 {


font-size:clamp(36px,5vw,56px);


letter-spacing:12px;


margin-bottom:25px;


}





.titleBox p {


font-size:clamp(16px,2vw,22px);


line-height:1.8;


margin-bottom:35px;


}








#startButton {


padding:

15px 70px;


font-size:24px;


border:none;


border-radius:12px;


background:#80512d;


color:white;



box-shadow:


inset 0 0 10px rgba(255,255,255,0.25),


0 6px 12px rgba(0,0,0,0.45);


}









/* メイン画面 */

#mainScreen {


width:100%;


height:100%;


display:flex;


justify-content:center;


align-items:center;


flex-direction:column;



background:


linear-gradient(

rgba(80,55,35,0.25),

rgba(80,55,35,0.25)

),


url("wood-bg.png");


background-size:cover;


}









/* 木箱 */

#woodBox {


position:relative;


width:min(78vw,1000px);


aspect-ratio:16/9;


}







#boxImage {

position:fixed;

left:0;

top:0;

width:100vw;

height:100vh;

object-fit:contain;

z-index:9999;

}






/* 小豆エリア */

#beansArea {


position:absolute;


left:16%;


top:28%;


width:68%;


height:50%;


overflow:hidden;


z-index:2;


}









/* 小豆 */

.bean {


position:absolute;


width:24px;


height:24px;


background-image:

url("bean.png");


background-size:contain;


background-repeat:no-repeat;


background-position:center;


filter:

drop-shadow(
1px 2px 3px rgba(0,0,0,0.45)
);


}









/* メッセージ */

#message {


margin-top:20px;


font-size:22px;


color:#fff0c8;


text-shadow:

2px 2px 5px #321b0b;


}









/* 縦持ち対策 */

@media screen and (orientation:portrait){


#app::before{


content:

"横向きで使用してください";


position:fixed;


inset:0;


display:flex;


justify-content:center;


align-items:center;


background:#3b2518;


color:white;


font-size:24px;


z-index:999;


}


}









/* iPhoneセーフエリア */

@supports(padding:max(0px)){


#mainScreen{


padding-left:

max(
0px,
env(safe-area-inset-left)
);


padding-right:

max(
0px,
env(safe-area-inset-right)
);


}


}